body{


    background: url(./Views/About/bulb.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {

background-color: rgb(126, 126, 196);


}

